table {
    border-collapse: separate;
    border-spacing: 5px;
}

td.header-days {
    width: 20px;
    height: 20px;
  }

td.hidden {
  background-color: #CACAC9;
  width: 20px;
  height: 20px;
}

td.weekends {
    background-color: #E3E711;
    width: 20px;
    height: 20px;
    text-align: center;

  }

  td.weekdays {
    background-color: #829570;
    width: 20px;
    height: 20px;
    text-align: center;
  }

  td.month-year {
    background-color: #EDF9DE;
    text-align: center;
  }